@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    /* Colors */
    --primary-white: hsl(0, 0%, 100%);
    --primary-white-coffee: hsl(31, 53%, 90%);
    --primary-stone-150: hsl(30, 18%, 87%);
    --primary-wenge-brown: hsl(32, 10%, 34%);
    --primary-stone-900: hsl(24, 4%, 18%);
    --primary-brandy-red: hsl(14, 45%, 36%);
    --primary-dark-raspberry: hsl(332, 51%, 32%);
    --primary-show: hsl(330, 100%, 98%);

    /* Texts */
    --heading-large: 2.5rem;
    --heading-medium: 1.75rem;
    --heading-small: 1.25rem;
    --body-regular: 1rem;
    --body-bold: 1rem;

    /* Font family */
    --heading-family: "Young Serif", serif;
    --body-familiy: "Outfit", sans-serif;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}


body {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    width: 100%;
    background-color: var(--primary-white-coffee);
    align-items: center;
    font-family: var(--body-familiy);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

h1,
h2 {
    font-family: var(--heading-family)
}

.bullet {
    display: inline-block;
}

li {
    display: grid;
    grid-template-columns: auto 1fr;
    color: var(--primary-wenge-brown);
    gap: 1rem;
    margin-bottom: .5rem;
    line-height: 1.5;
}

li:last-child {
    margin-bottom: 0;
}

header,
main {
    width: 100%;
    max-width: 46rem;
    background-color: var(--primary-white);
}

/* header */

.main-image-container>picture,
.main-image-container img {
    width: 100%;
}

header .title {
    margin: 2.5rem 2rem 0;
}

.title h1 {
    font-size: 2.25rem;
    color: var(--primary-stone-900);
}

.title p {
    font-size: var(--body-regular);
    font-weight: normal;
    line-height: 1.5;
    margin-top: 1.5rem;
    color: var(--primary-wenge-brown);

}

/* Sections - Main content */

main {
    padding: 0 2rem 2.5rem;
}

section {
    margin-top: 2rem;
    border-bottom: 1px solid var(--primary-white-coffee);
    padding-bottom: 2rem;
}


section h2 {
    color: var(--primary-brandy-red);
    font-size: var(--heading-medium);
    margin-bottom: 1.5rem;
}

.prepartion,
section:last-child {
    border: none;
}

.prepartion {
    background-color: var(--primary-show);
    border-radius: .75rem;
    padding: 1.5rem;
    border: none;
}

.prepartion h2 {
    font-size: var(--heading-small);
    color: var(--primary-dark-raspberry);
    font-weight: 600;
    margin-bottom: 0;
    font-family: var(--body-familiy);
}

.prepartion__list {
    margin-top: 1rem;
}

.prepartion__list .bullet {
    padding: 0 .625rem 0 .5rem;
    color: var(--primary-dark-raspberry);
}

.preparation__item {}

.preparation__item strong {
    font-weight: 600;
}

.preparation__item:last-child {
    margin-bottom: 0;
}

.ingredients .ingredients__item {
    padding-left: .5rem;

}